@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 60% 99%;
    --foreground: 247 75% 5%;
    --card: 240 60% 99%;
    --card-foreground: 247 75% 5%;
    --popover: 240 60% 99%;
    --popover-foreground: 247 75% 5%;
    --primary: 96 62% 66%;
    --primary-foreground: 247 75% 5%;
    --secondary: 57 100% 48%;
    --secondary-foreground: 247 75% 5%;
    --muted: 240 61% 20%;
    --muted-foreground: 247 75% 70%;
    --accent: 36 100% 45%;
    --accent-foreground: 247 75% 5%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 247 75% 5%;
    --border: 240 61% 20%;
    --input: 240 61% 20%;
    --ring: 36 100% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 60% 1%;
    --foreground: 246 76% 95%;
    --card: 240 60% 1%;
    --card-foreground: 246 76% 95%;
    --popover: 240 60% 1%;
    --popover-foreground: 246 76% 95%;
    --primary: 96 62% 34%;
    --primary-foreground: 240 60% 1%;
    --secondary: 57 100% 52%;
    --secondary-foreground: 240 60% 1%;
    --muted: 240 61% 80%;
    --muted-foreground: 246 76% 95%;
    --accent: 36 100% 55%;
    --accent-foreground: 240 60% 1%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 246 76% 10%;
    --border: 240 60% 60%;
    --input: 240 61% 80%;
    --ring: 36 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
